.wrapper{
    display: flex;

    main {
        flex: 1; /* tag main ocupe o máximo de espaço possível e seja flexível*/
    }

}

@media screen and (max-width: 1370px) {
    .wrapper {
        position: relative;
    }

    .mainTag {
      margin: 0 auto;
      width: 70%;
    }
}